.header {
    animation: fadein 5s;
    text-align: center;
    font-family: 'Oswald', sans-serif !important;
    font-size: 750%;
}
* {
    font-family: 'Oswald', sans-serif !important;

}
@keyframes fadein {
  from { opacity: 0}
  to   { opacity: 6}
}